@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css");

:root 
{
  --blue: #024bad;
  --yellow: #f6cd33;
  --pink: #e94775;
}
*
{
    box-sizing: border-box;
}

body
{
  margin: 0px;
  padding: 0px;
  background-color: rgb(243, 243, 243);
  max-width: 1440px;
  font-family: Lato;
}

.bi 
{
  font-size: 30px;
}

.t-white
{
  color: white;
}

.t-yellow
{
  color: var(--yellow);
}

.t-pink 
{
  color: var(--pink);
}

.bg-blue 
{
  background-color: var(--blue);
}
.bg-yellow 
{
  background-color: var(--yellow);
}
.bg-pink 
{
  background-color: var(--pink);
}

h1,h2,h3,h4,h5,h6
{
  font-family: Ubuntu;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  line-height: 2.0;
}
.container
{
    margin: 0px;
    padding: 60px 80px;
    clear: both;
    display: block;
}

.center
{
  text-align: center;
}

i
{
  margin: 15px;
}

.social:link, .social:active .social:visited
{
  color: var(--yellow);
  text-decoration: none;
}

.social:hover
{
  color: var(--pink);
  text-decoration: none;
}

.product
{
  width: 100%;
  height: 250px;
  border: 2px solid deeppink;
}

.product:hover
{
  border: 2px solid gold;
}

.row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  [class*="col-"] {
    float: left;
    padding: 15px 25px;
  }

  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  
  @media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
  }
  
  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
  }
  
  .topnav {
    overflow: hidden;
    background-color: var(--blue);
    display: flex;
    justify-content: center;
    padding: 7px;
  }
  
  .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 26px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    position: sticky;
  }
  
  .topnav a:hover {
    background-color: var(--pink);
    color: #fff;
  }
  
  .topnav a.active {
    background-color:var(--yellow);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

.hero, .about, .product, .contact
{
  width: 100%;
  min-height: 650px;
  background-image: url("../images/kids-1.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.about
{
  background-image: url("../images/about.jpg");
}

.product
{
  background-image: url("../images/product.jpg");
}

.contact
{
  background-image: url("../images/ccontact.jpg");
}

  .logo
  {
    width: 200px;
    height: 200px;
    padding: 20px;
  }

  .mb-30
  {
    padding-bottom: 30px;
  }
  
  p
  {
    line-height: 1.5;
    font-size: 16px;
    text-align: justify;
  }

  .parallax {
    /* The image used */
    background-image: url("../images/kids-2.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }